.btn{
    background: orange;
    text-align: center;
    cursor:pointer;
    width: 40px;
    height: 40px;

}


.btn:hover{
    /*transition-property: all;*/
    /*transition-duration: 0.5s;*/
    background-color: red;
}