*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#root{
    display: flex;
    justify-content: center;

}
/*.headerInput{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.containerItem{
    padding: 20px;
}

h1{
    padding: 20px;
    font-size: 60px;
}

.title{
    background-color: darkslateblue;
}

span{
    font-size: 30px;
    padding: 20px;
}

.textforwrite{
    width: 300px;
}

.listForAll{
    width: 300px;
    display: flex;
    justify-content: center;
}


.listForAll{
    padding: 20px 0 0 0;
    margin-left: 25px;
}

.containerItem{

}