
.divTodo{
   width: 100%;
   max-width: 500px;
   padding: 20px;
   background: red;
   border: 3rem solid;
   border-width: 1px;
   border-radius: 20px;
   margin: auto;
   display: flex;
   transition-property: all;
   transition-duration: 0.5s;
   transition: 1s linear;
}

span{
   font-size: 30px;
   padding: 20px;
}

.divTodo input{
   /*background: #032cfc;*/
}

.divTodo:hover{
   /*transform: scale(1);*/
}

.textTodo{
   /*margin-left: 20px;*/

   word-break:break-all;
}

.date_time{

}


/*targeting*/
.containerTodo{
   display: flex;
}
.targeting{

}