
.divTodo{
   position: relative;
   /*width: 100%;*/
   width: 325px;
   padding: 20px;
   background: rgba(188, 143, 143, 0.13);

   border-radius: 20px;
   margin: auto;
   display: flex;
   box-shadow: 0px 0px 5px black ;
}

span{
   font-size: 30px;
   padding: 20px;
}

.divTodo input{
   /*background: #032cfc;*/
}

.divTodo:hover{
   /*transform: scale(1);*/
}

.textTodo{
   /*margin-left: 20px;*/
   width: 100%;
   max-width: 300px;
   word-break:break-all;
}

.date_time{

}


/*targeting*/
.containerTodo{
   display: flex;
   /*display: inline-flex;*/
}

.targeting{
   opacity: 0;
   background: rebeccapurple;
   position: absolute;
   right: -50px;
   top:-10px;
   display: flex;

}

.divTodo:hover .targeting{
   /*background-color: black;*/
   opacity: 100%;
   animation-name: menu_todo_block;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
}
 @keyframes menu_todo_block {
    0%{
       opacity: 0%;
       transform: translate(0px, 0px);
       background-color: green;
    }
    20%{
       opacity: 5%;
    }
    50%{
       opacity: 50%;
    }
    100%{
       opacity: 100%;
       transform: translate(20px, 0px);
       background-color: greenyellow;
    }
 }