*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*height: 200px;*/


}


#root{
    display: flex;
    background: linear-gradient(to bottom, #0014ff,white);
    font-family: Snell Roundhand, cursive;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

}
.App{
    margin: 0 auto;
}
.container{
    /*position: relative;*/

}

.headerInput{
 position: relative;
    z-index: 2;
 /*   top: 0;*/
 /*   left: 0;*/
}

.containerItem{
    padding: 20px;
    position: absolute;

}
.containerItem div{
    margin-top: 10px;
}

h1{
    padding: 20px;
    font-size: 60px;
    background: none;
}

.title{
    background-color: darkslateblue;
}



.listForAll{
    position: relative;
    z-index: 2;
    padding: 20px 0 0 0;
    margin: auto;
    width: 300px;
    display: flex;
    justify-content: center;
}

.btnSave{
    padding: 5px;
    border-width: 0;
    box-shadow:10px 0 15px 4px rgba(0,0,0,30%);
}