*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*height: 200px;*/


}


#root{
    justify-content: center;
    display: flex;
    background: linear-gradient(to right, powderblue, pink);
    font-family: Snell Roundhand, cursive;
}
.headerInput{
 margin: auto;
}

.containerItem{
    padding: 20px;
    position: absolute;
}

h1{
    padding: 20px;
    font-size: 60px;
    background: none;
}

.title{
    background-color: darkslateblue;
}



.textforwrite{
    width: 300px;
}

.listForAll{
    width: 300px;
    display: flex;
    justify-content: center;
}


.listForAll{
    padding: 20px 0 0 0;
    margin: auto;
}

.containerItem{
    background: none;
}