
.divTodo{
   padding: 20px;
   background: red;
   border: 3rem solid;
   border-width: 1px;
   border-radius: 20px;
   margin: 20px;
}

.divTodo:hover{
   margin: 10px;
   background: #032cfc;
   border-color: green;
}

.textTodo{
   word-break:break-all;
}